/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2022, 4:18:16 PM
    Author     : SE150853 Nguyen Huynh Minh Khoi
*/

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0px;
    padding: 0px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


/*.card-img-left {
    width: 45%;
    background: scroll center url('/images/login.jpg');
    background-size: cover;
    background-position: center center;
}*/
.login-img{
    width: 45%;
    background-size: cover;
    background-position: center center;
}
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.khanhlq{
    background-color: #EEEEEE;
}

.minhph{
    background-color: #EEEEEE;
}

.btn-google{
    color: white !important;
    background-color: #ea4335;
}




